# RPCs
OPT_SEPOLIA_RPC_URL=
ARB_SEPOLIA_RPC_URL= 

# Etherscan APIs
OPT_ETHERSCAN_API_KEY=
ARBISCAN_API_KEY=

# Wallet Address. A wallet address created in foundry. See for details: https://book.getfoundry.sh/reference/cast/cast-wallet?highlight=cast%20wallet#cast-wallet
WALLET_ADDRESS=

NONCE=12345
PRIVATE_KEYS="[]"

TEST_ACCOUNT_KEY_1=
TEST_ACCOUNT_KEY_2=
TEST_ACCOUNT_KEY_3=
TEST_ACCOUNT_KEY_4=
TEST_ACCOUNT_KEY_5=
TEST_ACCOUNT_KEY_6=